<div class="content pane">
  <div class="text">
    <div class="signal error">!</div>
    <%= message %><br/>
    Kalau layarnya masih terus-terusan buram, harap <a href="/b/hubungi">hubungi</a> kami.
  </div>
</div>