<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Alat</h3>
    </div>
    <p>
      <h4 id="bookmarklet">Bookmarklet</h4><br/>
      Seret pranala berikut ini <a href="javascript:(function() { window.open('<%= appUrl %>/?pranala=' + encodeURIComponent(location.href)); })();">Pendekkan pranalanya</a> ke toolbar peramban web anda.
    </p>
    <p>
      <h4 id="firefox">Pengaya Firefox</h4><br/>
      Silahkan <a href="https://addons.mozilla.org/id/firefox/addon/222509/">mengunduh Pranafox</a> dari
      situs Mozilla.org . Pranafox adalah pengaya Firefox yang menambah menu klik kanan untuk memendekkan
      pranala panjang dengan menggunakan situs <span class="brand">Prnla</span>.<br/>
    </p>
    <p>
      <img class="bordered" src="/b/images/pranafox.jpg" height="200" width="465" alt="Tangkapan layar Pranafox"/>
    </p>
    <p>
      <h4 id="twitteriphone">Twitter iPhone</h4><br/>
      Anda dapat menggunakan <span class="brand">Prnla</span> sebagai pemendek pranala kustom di aplikasi
      <a href="http://itunes.apple.com/us/app/twitter/id333903271?mt=8">Twitter iPhone</a>.<br/>
      Buka halaman <span class="term">Settings</span>, pilih menu <span class="term">Services</span>, lalu menu <span class="term">URL Shortening</span>, lalu menu <span class="term">Custom</span>, dan
      masukkan <strong><%= appUrl %>/x?prn=%@</strong><br/>
    </p>
    <p>
      <img class="bordered" src="/b/images/twitteriphone.jpg" height="200" width="205" alt="Tangkapan layar aplikasi Twitter iPhone"/>
    </p>
    <p>
      <h4 id="chrome">Ekstensi Chrome</h4><br/>
      Para pengguna peramban Google Chrome dapat menggunakan
      <a href="https://chrome.google.com/extensions/detail/ipejcgelolaobhcbccckldaapfdjcbjh">Pranachrome</a>.
      Serupa dengan Pranafox, Pranachrome juga menambah menu klik kanan untuk memendekkan
      pranala panjang dengan menggunakan situs <span class="brand">Prnla</span>.<br/>
    </p>
    <p>
      <img class="bordered" src="/b/images/pranachrome.png" height="202" width="465" alt="Tangkapan layar Pranachrome"/>
    </p>
    <p>
      <h4 id="wordpress">Plugin WordPress</h4><br/>
      Jika anda memiliki sebuah blog WordPress,
      <a href="http://wordpress.org/extend/plugins/wp-prnla/">WP-Prnla</a> dapat digunakan untuk mendapatkan
      prn.la pranala pendek untuk setiap artikel di blog anda melalui fungsi <span class="term">Get Shortlink</span>.
    </p>
    <p>
      <img class="bordered" src="/b/images/wp-prnla.png" height="223" width="465" alt="Tangkapan layar WP-Prnla"/>
    </p>
    <p>
      <h4 id="tweetdeck">TweetDeck</h4><br/>
      Anda juga dapat menggunakan <span class="brand">Prnla</span> sebagai pemendek pranala kustom di aplikasi
      <a href="http://www.tweetdeck.com">TweetDeck</a>.<br/>
      Buka halaman <span class="term">Settings</span>, lalu pilih <span class="term">Services</span>
      dari menu di sisi kiri, lalu pilih <span class="term">Other</span> di bagian
      <span class="term">Select the service you wish to use to shorten URLs</span>, dan
      masukkan <strong><%= appUrl %>/x?prn=%@</strong><br/>
    </p>
    <p>
      <img class="bordered" src="/b/images/tweetdeck.png" height="116" width="465" alt="Tangkapan layar aplikasi TweetDeck"/>
    </p>
    <p>
      <h4 id="mobile">Mobile Pranala</h4><br/>
      Versi sederhana dari situs ini dapat dikunjungi di <a href="http://m.prn.la">m.prn.la</a> .
    </p>
  </div>
</div>