<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Alat</h3>
    </div>
    <p>
      <h4>Bookmarklet</h4><br/>
      Seret pranala berikut ini <a href="javascript:(function() { window.open('<%= appHost %>/?pranala=' + encodeURIComponent(location.href)); })();">Pendekkan pranalanya</a>, ke toolbar peramban web anda.
    </p>
    <p>
      <h4>Pengaya Firefox</h4><br/>
      TODO
    </p>
    <p>
      <h4>Mobile Pranala</h4><br/>
      Versi sederhana dari PRN.LA dapat dikunjungi di <a href="http://m.prn.la">m.prn.la</a> .
    </p>
  </div>
</div>