<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Alat</h3>
    </div>
    <p>
      <h4>Bookmarklet</h4><br/>
      Seret pranala berikut ini <a href="javascript:(function() { window.open('<%= appHost %>/?pranala=' + encodeURIComponent(location.href)); })();">Pendekkan pranalanya</a> ke toolbar peramban web anda.
    </p>
    <p>
      <h4>Pengaya Firefox</h4><br/>
      Silakan <a href="https://addons.mozilla.org/id/firefox/addon/222509/">mengunduh Pranafox</a> dari
      situs Mozilla.org . Pranafox adalah pengaya Firefox yang menambah menu klik kanan untuk memendekkan
      pranala panjang dengan menggunakan situs <span class="brand">Prnla</span>.<br/>
    </p>
    <p>
      <img class="bordered" src="/b/images/pranafox.jpg" height="200" width="465" alt="Tangkapan layar Pranafox"/>
    </p>
    <p>
      <h4>Twitter iPhone</h4><br/>
      Anda dapat menggunakan <span class="brand">Prnla</span> sebagai pemendek pranala kustom di aplikasi
      <a href="http://itunes.apple.com/us/app/twitter/id333903271?mt=8">Twitter iPhone</a>.<br/>
      Buka halaman <span class="term">Settings</span>, pilih menu <span class="term">Services</span>, lalu menu <span class="term">URL Shortening</span>, lalu menu <span class="term">Custom</span>, dan
      masukkan <strong><%= appHost %>/x?prn=%@</strong><br/>
    </p>
    <p>
      <img class="bordered" src="/b/images/twitteriphone.jpg" height="200" width="205" alt="Tangkapan layar aplikasi Twitter di iPhone"/>
    </p>
    <p>
      <h4>Mobile Pranala</h4><br/>
      Versi sederhana dari situs ini dapat dikunjungi di <a href="http://m.prn.la">m.prn.la</a> .
    </p>
  </div>
</div>