<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Alat</h3>
    </div>
    <p>
      <strong>Bookmarklet</strong><br/>
      Seret pranala berikut ini <a href="javascript:(function() { window.open('<%= appHost %>/?pranala=' + encodeURIComponent(location.href)); })();">Bookmarklet PRN.LA</a>, ke toolbar peramban web anda.
    </p>
  </div>
</div>