<div class="content pane">
  <div class="text">
    <div class="title">
      <h3><%= g.p.getText(lang, 'nav.api') %></h3>
    </div>
    <p>
      Jika anda ingin menggunakan API berikut ini, harap hubungi kami di <a href="mailto:redaksi@prn.la">redaksi@prn.la</a> .
      Anda akan kami hubungi jika ada perubahan-perubahan pada API kami.
    </p>
    <p>
      <h5>/v0/pendekkan</h5>
    </p>
    <p>
      Contoh
      <ul>
        <li><%= appUrl %>/v0/pendekkan?panjang=http%3A%2F%2Fberitakita.co.id%2Fterkini%2Findonesia-akhirnya-juara-piala-dunia-2058&format=json</li>
      </ul>
    </p>
    <p>
      Parameter
      <ul>
        <li><strong>panjang</strong> - pranala panjang yang akan dipendekkan</li>
        <li><strong>format</strong> - format respons, misalnya: <strong>json</strong>, <strong>teks</strong></li>
      </ul>
    </p>
    <p>
      Respons
      <ul>
        <li>
          json<br/>
          <strong>Sukses</strong><br/>
          <div class="marquee answer">
            <pre>{
  "status":"sukses",
  "pendek":"<%= appUrl %>/g0L"
}</pre>
          </div>
          <strong>Gagal</strong><br/>
          <div class="marquee warning">
            <pre>{
  "status":"gagal",
  "pesan":"TIDAK_SAHIH"
}</pre>
          </div>
        </li>
        <li>
          teks<br/>
          <strong>Sukses</strong><br/>
          <div class="marquee answer">
            <pre><%= appUrl %>/g0L</pre>
          </div>
          <strong>Gagal</strong><br/>
          <div class="marquee warning">
            <pre></pre>
          </div>
          Respons teks kosong.
        </li>
      </ul>
    </p>
    <p>
      <h5>/v0/panjangkan</h5>
    </p>
    <p>
      Contoh
      <ul>
        <li><%= appUrl %>/v0/panjangkan?pendek=http%3A%2F%2Fprn.la%2Fg0L&format=json</li>
      </ul>
    </p>
    <p>
      Parameter
      <ul>
        <li><strong>pendek</strong> - pranala pendek yang akan dipanjangkan</li>
        <li><strong>format</strong> - format respons, misalnya: <strong>json</strong>, <strong>teks</strong></li>
      </ul>
    </p>
    <p>
      Respons
      <ul>
        <li>
          json<br/>
          <strong>Sukses</strong><br/>
          <div class="marquee answer">
            <pre>{
  "status":"sukses",
  "panjang":"http://beritakita.co.id/terkini/indonesia-akhirnya-juara-piala-dunia-2058"
}</pre>
          </div>
          <strong>Gagal</strong><br/>
          <div class="marquee warning">
            <pre>{
  "status":"gagal",
  "pesan":"TIDAK_DITEMUKAN"
}</pre>
          </div>
        </li>
        <li>
          teks<br/>
          <strong>Sukses</strong><br/>
          <div class="marquee answer">
            <pre>http://beritakita.co.id/terkini/indonesia-akhirnya-juara-piala-dunia-2058</pre>
          </div>
          <strong>Gagal</strong><br/>
          <div class="marquee warning">
            <pre></pre>
          </div>
          Respons teks kosong.
        </li>
      </ul>
    </p>
  </div>
</div>