<div class="content pane">
  <div class="text">
    <div class="title">
      <h3><%= g.p.getText(lang, 'nav.api') %></h3>
    </div>
    <p>
      <%= g.p.getText(lang, 'page.api.p1a') %> <a href="mailto:redaksi@prn.la">redaksi@prn.la</a> .
      <%= g.p.getText(lang, 'page.api.p1b') %>
    </p>
    <p>
      <h5>/v0/shorten</h5>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.api.section.example') %>
      <ul>
        <li><div class="marquee"><%= appUrl %>/v0/shorten?long=http%3A%2F%2Fberitakita.co.id%2Fterkini%2Findonesia-akhirnya-juara-piala-dunia-2058&format=json</div></li>
      </ul>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.api.section.param') %>
      <ul>
        <li><strong>long</strong> - <%= g.p.getText(lang, 'page.api.term.long') %></li>
        <li><strong>format</strong> - <%= g.p.getText(lang, 'page.api.term.format') %> <strong>json</strong>, <strong>text</strong></li>
      </ul>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.api.section.response') %>
      <ul>
        <li>
          json<br/>
          <div class="snippet"><%= g.p.getText(lang, 'page.api.term.success') %></div>
          <div class="marquee">
            <pre>{
  "status":"success",
  "short":"<%= appUrl %>/g0L"
}</pre>
          </div>
          <div class="snippet"><%= g.p.getText(lang, 'page.api.term.failure') %></div>
          <div class="marquee">
            <pre>{
  "status":"failure",
  "message":"INVALID"
}</pre>
          </div>
        </li>
        <li>
          text<br/>
          <div class="snippet"><%= g.p.getText(lang, 'page.api.term.success') %></div>
          <div class="marquee">
            <pre><%= appUrl %>/g0L</pre>
          </div>
          <div class="snippet"><%= g.p.getText(lang, 'page.api.term.failure') %></div>
          <div class="marquee">
            <pre></pre>
          </div>
          <%= g.p.getText(lang, 'page.api.term.empty') %>
        </li>
      </ul>
    </p>
    <p>
      <h5>/v0/expand</h5>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.api.section.example') %>
      <ul>
        <li><div class="marquee"><%= appUrl %>/v0/expand?short=http%3A%2F%2Fprn.la%2Fg0L&format=json</div></li>
      </ul>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.api.section.param') %>
      <ul>
        <li><strong>short</strong> - <%= g.p.getText(lang, 'page.api.term.short') %></li>
        <li><strong>format</strong> - <%= g.p.getText(lang, 'page.api.term.format') %> <strong>json</strong>, <strong>text</strong></li>
      </ul>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.api.section.response') %>
      <ul>
        <li>
          json<br/>
          <div class="snippet"><%= g.p.getText(lang, 'page.api.term.success') %></div>
          <div class="marquee">
            <pre>{
  "status":"success",
  "long":"http://beritakita.co.id/terkini/indonesia-akhirnya-juara-piala-dunia-2058"
}</pre>
          </div>
          <div class="snippet"><%= g.p.getText(lang, 'page.api.term.failure') %></div>
          <div class="marquee">
            <pre>{
  "status":"failure",
  "message":"NOT_FOUND"
}</pre>
          </div>
        </li>
        <li>
          text<br/>
          <div class="snippet"><%= g.p.getText(lang, 'page.api.term.success') %></div>
          <div class="marquee">
            <pre>http://beritakita.co.id/terkini/indonesia-akhirnya-juara-piala-dunia-2058</pre>
          </div>
          <div class="snippet"><%= g.p.getText(lang, 'page.api.term.failure') %></div>
          <div class="marquee">
            <pre></pre>
          </div>
          <%= g.p.getText(lang, 'page.api.term.empty') %>
        </li>
      </ul>
    </p>
  </div>
</div>