<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Cara kerja</h3>
    </div>
    <p>
      Cara kerja PRN.LA sangat sederhana.
    </p>
    <p>
      Masukkan pranala panjang,
    </p>
    <p>
      <img class="bordered" src="/b/images/form_input.jpg" height="42" width="463" alt="Pranala panjang: http://beritakita.co.id/terkini/indonesia-akhirnya-juara-piala-dunia-2058"/>
    </p>
    <p>
      klik PENDEKKAN, lalu PRN.LA akan menampilkan pranala pendeknya, 
    </p>
    <p>
      <img class="bordered" src="/b/images/form_output.jpg" height="66" width="463" alt="Pranala pendek: <%= appHost %>/g0L"/>
    </p>
    <p>
      Mudah kan?
    </p>
  </div>
</div>