<div class="content pane">
  <div class="text">
    <div class="title">
      <h3><%= g.p.getText(lang, 'nav.carakerja') %></h3>
    </div>
    <p>
      Cara kerja <span class="brand">Prnla</span> sangat sederhana.
    </p>
    <p>
      Masukkan pranala panjang,
    </p>
    <p>
      <img class="bordered" src="/b/images/form_input.jpg" height="52" width="463" alt="Pranala panjang: http://beritakita.co.id/terkini/indonesia-akhirnya-juara-piala-dunia-2058"/>
    </p>
    <p>
      klik tombol <span class="term">Pendekkan</span>, lalu pranala pendeknya akan ditampilkan.
    </p>
    <p>
      <img class="bordered" src="/b/images/form_output.jpg" height="69" width="463" alt="Pranala pendek: <%= appUrl %>/g0L"/>
    </p>
    <p>
      Mudah kan?
    </p>
  </div>
</div>