<div class="content pane">
  <div class="text">
    <div class="title">
      <h3><%= g.p.getText(lang, 'nav.carakerja') %></h3>
    </div>
    <p>
      <%= g.p.getText(lang, 'page.carakerja.p1a') %> <span class="brand">Prnla</span> <%= g.p.getText(lang, 'page.carakerja.p1b') %>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.carakerja.p2') %>
    </p>
    <p>
      <img class="bordered" src="/b/images/<%= lang %>/form_input.jpg" height="52" width="463" alt="<%= g.p.getText(lang, 'page.carakerja.longlink') %>: http://beritakita.co.id/terkini/indonesia-akhirnya-juara-piala-dunia-2058"/>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.carakerja.p3a') %> <span class="term"><%= g.p.getText(lang, 'page.home.button') %></span><%= g.p.getText(lang, 'page.carakerja.p3b') %>
    </p>
    <p>
      <img class="bordered" src="/b/images/<%= lang %>/form_output.jpg" height="69" width="463" alt="<%= g.p.getText(lang, 'page.carakerja.shortlink') %>: <%= appUrl %>/g0L"/>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.carakerja.p4') %>
    </p>
  </div>
</div>