<div class="content pane">
  <div class="text">
    <div class="title">
      <h3><%= g.p.getText(lang, 'nav.hubungi') %></h3>
    </div>
    <p>
      <%= g.p.getText(lang, 'page.hubungi.p1a') %> <a href="mailto:redaksi@prn.la">redaksi@prn.la</a>
      <%= g.p.getText(lang, 'page.hubungi.p1b') %> <a href="http://twitter.com/prnla">@prnla</a> .
    </p>
    <p>
      <%- g.p.getText(lang, 'page.hubungi.p2') %>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.hubungi.p3a') %> <span style="text-decoration: line-through;"><%= g.p.getText(lang, 'page.hubungi.p3b') %></span> <%= g.p.getText(lang, 'page.hubungi.p3c') %> <a href="http://id.wikipedia.org/wiki/Pranala">Wikipedia</a>...<br/>
      <%= g.p.getText(lang, 'page.hubungi.p3d') %><br/>
    </p>
  </div>
</div>