<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Hubungi</h3>
    </div>
    <p>
      Jika anda menemukan kesalahan, ingin berkomentar, bertanya, mengkritik,
      atau sekedar ingin menyapa, kami dapat dihubungi di
      <a href="mailto:redaksi@pranala.com">redaksi@pranala.com</a> .
    </p>
    <p>&nbsp;</p>
    <p>
      Dan sebelum anda bertanya "Apa sih pranala itu?"
    </p>
    <p>
      Kami <span style="text-decoration: line-through;">menjawab</span> mengutip dari <a href="http://id.wikipedia.org/wiki/Pranala">Wikipedia</a>...<br/>
      Pranala adalah istilah bahasa Indonesia nya link atau URL.<br/>
    </p>
  </div>
</div>