<div class="content pane">
  <div class="text">
    <div class="title">
      <h3><%= g.p.getText(lang, 'nav.kegunaan') %></h3>
    </div>
    <p>
      Berikut ini adalah contoh skenario kegunaan <span class="brand">Prnla</span>
      (seratus persen khayalan)...
    </p>
    <p>
      Bayangkan Indonesia akhirnya juara Piala Dunia di tahun 2058.
    </p>
    <div class="marquee message">
      @teman
      http://beritakita.co.id/terkini/indonesia-akhirnya-juara-piala-dunia-2058
      Wahhhhh akhirnya, ngga sia-sia bergadang semalaman ditemani se
    </div>
    <p>
      Nah, pranala yang panjangnya 72 karakter ini,
    </p>
    <div class="marquee warning">
      http://beritakita.co.id/terkini/indonesia-akhirnya-juara-piala-dunia-2058
    </div>
    <p>
      dapat dipendekkan menjadi seperti ini,
    </p>
    <div class="marquee answer">
      <%= appUrl %>/g0L
    </div>
    <p>
      menjadi hanya 17 karakter. Anda menghemat 72 - 17 = 55 karakter, yang akhirnya
      dapat anda gunakan untuk pesan yang lebih panjang.
    </p>
    <div class="marquee message">
      @teman
      <%= appUrl %>/g0L
      Wahhhhh akhirnya, ngga sia-sia bergadang semalaman ditemani sepiring
      pisang goreng hangat.
    </div>
  </div>
</div>