<div class="content pane">
  <div class="text">
    <div class="title">
      <h3><%= g.p.getText(lang, 'nav.kontribusi') %></h3>
    </div>
    <p>
      <h4><%= g.p.getText(lang, 'page.kontribusi.promosi.title') %></h4>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.kontribusi.promosi.p') %>
    </p>
    <p>
      <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
      <script type="text/javascript">stLight.options({publisher:'9370ffce-e319-4541-b7cc-2d189f6013e3'});</script>
      <span class="st_twitter_large" displayText="Tweet"></span>
      <span class="st_facebook_large" displayText="Facebook"></span>
      <span class="st_ybuzz_large" displayText="Yahoo! Buzz"></span>
      <span class="st_gbuzz_large" displayText="Google Buzz"></span>
      <span class="st_email_large" displayText="Email"></span>
      <span class="st_sharethis_large" displayText="ShareThis"></span>
    </p>
    <p>
      <h4><%= g.p.getText(lang, 'page.kontribusi.bug.title') %></h4>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.kontribusi.bug.p1') %>
      <a href="http://code.google.com/p/pranala/issues/list"><%= g.p.getText(lang, 'page.kontribusi.bug.p2') %></a> <%= g.p.getText(lang, 'page.kontribusi.bug.p3') %>
    </p>
    <p>
      <h4><%= g.p.getText(lang, 'page.kontribusi.perangkatlunak.title') %></h4>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.kontribusi.perangkatlunak.p1') %>
      <a href="/b/api"><%= g.p.getText(lang, 'page.kontribusi.perangkatlunak.p2') %></a> 
    </p>
    <p>
      <h4><%= g.p.getText(lang, 'page.kontribusi.kampanye.title') %></h4>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.kontribusi.kampanye.p1') %>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.kontribusi.kampanye.p2') %>
    </p>
    <p>
      <img src="/b/images/<%= lang %>/poster_sby.jpg" height="280" width="430"/>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.kontribusi.kampanye.p3') %> <a href="mailto:redaksi@prn.la">redaksi@prn.la</a> .
    </p>
  </div>
</div>