<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Kontribusi</h3>
    </div>
    <p>
      <h4>Bug</h4>
    </p>
    <p>
      Jika anda menemukan bug atau kesalahan di situs ini, anda dapat memberitahu kami dengan cara
      <a href="http://code.google.com/p/pranala/issues/list">membuka issue</a> di Google Code.
    </p>
    <p>
      <h4>Perangkat lunak</h4>
    </p>
    <p>
      Jika anda seorang pengembang perangkat lunak, anda dapat membantu kami dengan membuat pengaya
      Google Chrome atau peramban web lainnya, atau juga dengan membuat pustaka klien untuk
      <a href="/b/api">API</a> kami dalam berbagai bahasa pemrograman (PHP, Ruby, Perl, Python, Java, dll).
    </p>
    <p>
      <h4>Promosi</h4>
    </p>
    <p>
      Beritahu teman, keluarga, tetangga anda tentang situs kami. Anda memiliki sebuah blog atau akun Twitter?
      tolong tuliskan sedikit tentang kami. Terima kasih.
    </p>
    <p>
      <h4>Kampanye</h4>
    </p>
    <p>
      Dan untuk yang nekat dan bernyali besar, silakan cetak poster kampanye di bawah ini dalam ukuran besar
      dan tempelkan di tempat-tempat umum.
    </p>
    <p>
      SBY menggalakkan gerakan memendekkan pranala.
    </p>
    <p>
      <img src="/b/images/poster_sby.jpg" height="280" width="430"/>
    </p>
    <p>
      Punya ide-ide cemerlang? Kirimkan ke <a href="mailto:redaksi@prn.la">redaksi@prn.la</a> .
    </p>
  </div>
</div>