<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Kontribusi</h3>
    </div>
    <p>
      Jika anda menemukan bug atau kesalahan di situs ini, anda dapat memberitahu kami dengan cara
      <a href="http://code.google.com/p/pranala/issues/list">membuka issue di Google Code</a>.
    </p>
    <p>
      Jika anda seorang pengembang perangkat lunak, anda dapat membantu kami dengan membuat pengaya
      Google Chrome atau peramban web lainnya, atau juga dengan membuat pustaka klien untuk
      <a href="/b/api">API</a> kami dalam berbagai bahasa pemrograman (PHP, Ruby, Perl, Python, Java, dll).
    </p>
    <p>
      Beritahu teman, keluarga, tetangga anda tentang PRN.LA . Jika anda seorang blogger, tolong tuliskan
      sedikit tentang kami.
    </p>
    <p>
      Dan untuk yang nekat dan bernyali besar, silakan cetak poster kampanye di bawah ini dalam ukuran besar
      dan tempelkan di tempat-tempat umum.
    </p>
    <p>
      <img src="/b/images/poster_sby.jpg" height="280" width="430"/>
    </p>
    <p>
      SBY menggalakkan gerakan memendekkan pranala. Nah lho!
    </p>
    <p>
      Punya ide-ide cemerlang? Kirimkan ke <a href="mailto:redaksi@prn.la">redaksi@prn.la</a> .
    </p>
  </div>
</div>