<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>PRN.LA [masih beta] - <%= title %></title>
  <meta name="description" content="PRN.LA - Pendekkan pranalanya"/>
  <meta name="keywords" content="pranala, pautan, link, URL, pendek, pemendek, singkat, penyingkat, Indonesia, URL shortener"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" href="/b/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/b/styles/grids-min-2.8.1.css"/>
  <link rel="stylesheet" type="text/css" href="/b/styles/global.css"/>
</head>
<body>
  <div id="doc">
    <div id="nav">
      <ul>
        <li><a href="/">Pendekkan</a></li>
        <li><a href="/b/carakerja">Cara kerja</a></li>
        <li><a href="/b/kegunaan">Kegunaan</a></li>
        <li><a href="/b/alat">Alat</a></li>
        <li><a href="/b/api">API</a></li>
        <li><a href="/b/poster">Poster</a></li>
        <li><a href="/b/hubungi">Hubungi</a></li>
      </ul>
    </div>
    <div id="hd">
      <div id="logo" class="pane">
        <a href="/"><h1>PRN.LA</h1></a>
      </div>
      <div id="slogan" class="pane hidden">
        <a href="/"><h2>Pendekkan pranalanya</h2></a>
      </div>
    </div> 
    <div id="bd">
      <%- body %>
    </div> 
    <div id="ft">
      <div id="copyright">
        Copyright &copy; 2010 <strong>PRN.LA</strong> . Prakarya <a href="http://cliffano.com">Studio Cliffano</a>.
      </div>
    </div> 
  </div>
  <script src="/b/scripts/jquery-min-1.4.2.js"></script>
  <script src="/b/scripts/global.js"></script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-247374-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>