<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Prnla [beta] - <%= g.p.getText(lang, 'title.' + page) %></title>
  <meta name="description" content="Prnla - Pendekkan pranalanya"/>
  <meta name="keywords" content="pranala, pautan, link, URL, pendek, pemendek, singkat, penyingkat, Indonesia, URL shortener, Prnla"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" href="/b/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/b/styles/pranala.css?<%= g.uniqueId %>"/>
  <script src="/b/scripts/pranala.js?<%= g.uniqueId %>"></script>
</head>
<body>
  <div id="doc">
	  <div id="social">
			<div style="float: right;">
			  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
			  <fb:like href="http://prn.la" layout="button_count" show_faces="true" width="" action="like" font="lucida grande" colorscheme="light" ref=""></fb:like>
			</div>
		</div>.
		<div id="lang">
			<ul>
				<% for (var i = 0, ln = g.p.getLangs().length; i < ln; i++) { %>
				  <li><a rel="nofollow" href="/l?lang=<%= g.p.getLangs()[i].code %>&url=/"><%= g.p.getLangs()[i].name %></a></li>
			  <% } %>
		  </ul>
		</div>
    <div id="hd">
      <div id="logo">
        <a href="/"><h1>Prnla</h1></a>
      </div>
      <div id="nav">
        <ul>
	        <li><a href="/"><%= g.p.getText(lang, 'nav.pendekkan') %></a></a></li>
	        <% for (var i = 0, ln = g.nav.length; i < ln; i++) { %>
		        <li><a href="/b/<%= lang %>/<%= g.nav[i] %>"><%= g.p.getText(lang, 'nav.' + g.nav[i]) %></a></li>
		      <% } %>
        </ul>
      </div>
    </div> 
    <div id="bd">
      <%- body %>
    </div> 
    <div id="ft">
      <div id="copyright">
        <%= g.p.getText(lang, 'copyright.pa') %> &copy; 2010 <span class="brand">Prnla</span> - <%= g.p.getText(lang, 'copyright.pb') %> <a href="http://cliffano.com">Studio Cliffano</a>
      </div>
    </div> 
  </div>
  <% if (g.env === 'prd') { %>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-247374-10']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  <% } %>
</body>
</html>