<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Populer</h3>
    </div>
    <p>
      Pranala terpopuler:
    </p>
    <p>
      <table>
	    <% for (var i = 0, max = 20, len = docs.length; i < max && i < len; ++i) { %>
		  <tr>
	        <td class="count"><%= docs[i].value %></td>
	        <td class="url"><a href="<%= docs[i].key %>" rel="nofollow"><%= docs[i].key %></a></td>
	      </tr>
	    <% } %>
      </table>
    </p>
  </div>
</div>