<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Poster</h3>
    </div>
    <p>
      Berikut ini poster-poster kampanye PRN.LA . Punya ide? Kirimkan ke <a href="mailto:redaksi@pranala.com">redaksi@pranala.com</a> .
    </p>
    <p>
      <img src="/b/images/poster_sby.jpg" height="280" width="430"/>
    </p>
    <p>
      SBY menggalakkan gerakan memendekkan pranala. Nah lho!
    </p>
  </div>
</div>