<h4>API /v0/shorten/ success json</h4>
<iframe height="50px" width="800px" src="/v0/shorten?long=http%3A%2F%2Fnba.com&format=json"></iframe>
<h4>API /v0/shorten/ failure json</h4>
<iframe height="50px" width="800px" src="/v0/shorten?long=http%3A%2F%2Fbit.ly&format=json"></iframe>
<h4>API /v0/shorten/ success text</h4>
<iframe height="50px" width="800px" src="/v0/shorten?long=http%3A%2F%2Fnba.com&format=text"></iframe>
<h4>API /v0/shorten/ failure text</h4>
<iframe height="50px" width="800px" src="/v0/shorten?long=http%3A%2F%2Fbit.ly&format=text"></iframe>
<hr/>
<h4>API /v0/expand/ success json</h4>
<iframe height="50px" width="800px" src="/v0/expand?short=http%3A%2F%2Fprn.la%2F22&format=json"></iframe>
<h4>API /v0/expand/ failure json</h4>
<iframe height="50px" width="800px" src="/v0/expand?short=http%3A%2F%2Fprn.la%2F-&format=json"></iframe>
<h4>API /v0/expand/ success text</h4>
<iframe height="50px" width="800px" src="/v0/expand?short=http%3A%2F%2Fprn.la%2F22&format=text"></iframe>
<h4>API /v0/expand/ failure text</h4>
<iframe height="50px" width="800px" src="/v0/expand?short=http%3A%2F%2Fprn.la%2F-&format=text"></iframe>
<hr/>
<h4>Bookmarklet</h4>
<iframe height="400px" width="800px" src="/?pranala=http%3A%2f%2fyahoo.com"></iframe>
<hr/>
<h4>Twitter iPhone / TweetDeck</h4>
<iframe height="50px" width="800px" src="/x?prn=http%3A%2f%2fyahoo.com"></iframe>
<hr/>
<h4>Mobile Pranala</h4>
<iframe height="100px" width="800px" src="/m"></iframe>
<hr/>
<h4>404</h4>
<iframe height="400px" width="800px" src="/c/d"></iframe>
<hr/>
<h4>Sitemap</h4>
<iframe height="400px" width="800px" src="/sitemap.xml"></iframe>
<hr/>
