<h4>API /v0/pendekkan/ sukses json</h4>
<iframe height="50px" width="800px" src="<%= appUrl %>/v0/pendekkan?panjang=http%3A%2F%2Fnba.com&format=json"></iframe>
<h4>API /v0/pendekkan/ gagal json</h4>
<iframe height="50px" width="800px" src="<%= appUrl %>/v0/pendekkan?panjang=http%3A%2F%2Fbit.ly&format=json"></iframe>
<h4>API /v0/pendekkan/ sukses teks</h4>
<iframe height="50px" width="800px" src="<%= appUrl %>/v0/pendekkan?panjang=http%3A%2F%2Fnba.com&format=teks"></iframe>
<h4>API /v0/pendekkan/ gagal teks</h4>
<iframe height="50px" width="800px" src="<%= appUrl %>/v0/pendekkan?panjang=http%3A%2F%2Fbit.ly&format=teks"></iframe>
<hr/>
<h4>API /v0/panjangkan/ sukses json</h4>
<iframe height="50px" width="800px" src="<%= appUrl %>/v0/panjangkan?pendek=<%= appUrl %>%2F22&format=json"></iframe>
<h4>API /v0/panjangkan/ gagal json</h4>
<iframe height="50px" width="800px" src="<%= appUrl %>/v0/panjangkan?pendek=<%= appUrl %>%2F-&format=json"></iframe>
<h4>API /v0/panjangkan/ sukses teks</h4>
<iframe height="50px" width="800px" src="<%= appUrl %>/v0/panjangkan?pendek=<%= appUrl %>%2F22&format=teks"></iframe>
<h4>API /v0/panjangkan/ gagal teks</h4>
<iframe height="50px" width="800px" src="<%= appUrl %>/v0/panjangkan?pendek=<%= appUrl %>%2F-&format=teks"></iframe>
<hr/>
<h4>Bookmarklet</h4>
<iframe height="400px" width="800px" src="<%= appUrl %>/?pranala=http%3A%2f%2fyahoo.com"></iframe>
<hr/>
<h4>Twitter iPhone / TweetDeck</h4>
<iframe height="50px" width="800px" src="<%= appUrl %>/x?prn=http%3A%2f%2fyahoo.com"></iframe>
<hr/>
<h4>Mobile Pranala</h4>
<iframe height="100px" width="800px" src="<%= appUrl %>/m"></iframe>
<hr/>
<h4>404</h4>
<iframe height="400px" width="800px" src="<%= appUrl %>/c/d"></iframe>
<hr/>
<h4>Sitemap</h4>
<iframe height="400px" width="800px" src="<%= appUrl %>/sitemap.xml"></iframe>
<hr/>
