<div class="content pane">
  <div class="text">
    <div class="title">
      <h3>Statistik</h3>
    </div>
    <p>
      Kami akan mengembangkan lebih banyak lagi analisa statistik dari pranala yang terdapat di sistem kami.
      Untuk sementara, kami sediakan pranala terpopuler saat ini:
    </p>
    <p>
      <table>
	    <% for (var i = 0, max = 10, len = docs.length; i < max && i < len; ++i) { %>
		  <tr>
	        <td class="count"><%= docs[i].value %></td>
	        <td class="url"><a href="<%= docs[i].key %>" rel="nofollow" onclick="openExternal('<%= docs[i].key %>');"><%= docs[i].key %></a></td>
	      </tr>
	    <% } %>
      </table>
    </p>
  </div>
</div>