<div class="content pane">
  <div class="text">
    <div class="title">
      <h3><%= g.p.getText(lang, 'nav.statistic') %></h3>
    </div>
    <p>
	    <%= g.p.getText(lang, 'page.statistic.p') %>
    </p>
    <p>
      <table>
	    <% for (var i = 0, max = 10, ln = docs.length; i < max && i < ln; ++i) { %>
		  <tr>
	        <td class="count"><%= docs[i].value %></td>
	        <td class="url"><a href="<%= docs[i].key %>" rel="nofollow" onclick="openExternal('<%= docs[i].key %>');"><%= docs[i].key %></a></td>
	      </tr>
	    <% } %>
      </table>
    </p>
  </div>
</div>