<div class="content pane">
  <div class="text">
    <div class="title">
      <h3><%= g.p.getText(lang, 'nav.tools') %></h3>
    </div>
    <p>
      <h4 id="bookmarklet"><%= g.p.getText(lang, 'page.tools.bookmarklet.title') %></h4><br/>
      <%= g.p.getText(lang, 'page.tools.bookmarklet.pa') %> <a href="javascript:(function() { window.open('<%= appUrl %>/?pranala=' + encodeURIComponent(location.href)); })();"><%= g.p.getText(lang, 'label') %></a> <%= g.p.getText(lang, 'page.tools.bookmarklet.pb') %>
    </p>
    <p>
      <h4 id="firefox"><%= g.p.getText(lang, 'page.tools.firefox.title') %></h4><br/>
      <%= g.p.getText(lang, 'page.tools.firefox.pa') %> <a href="<%= g.p.getText(lang, 'page.tools.firefox.url') %>"><%= g.p.getText(lang, 'page.tools.firefox.pb') %></a> <%= g.p.getText(lang, 'page.tools.firefox.pc') %> <%= g.p.getText(lang, 'page.tools.firefox.pd') %> <span class="brand">Prnla</span>.<br/>
    </p>
    <p>
      <img class="bordered" src="/b/images/<%= lang %>/pranafox.jpg" height="200" width="465" alt="Tangkapan layar Pranafox"/>
    </p>
    <p>
      <h4 id="twitteriphone"><%= g.p.getText(lang, 'page.tools.twitteriphone.title') %></h4><br/>
      <%= g.p.getText(lang, 'page.tools.twitteriphone.pa') %> <span class="brand">Prnla</span> <%= g.p.getText(lang, 'page.tools.twitteriphone.pb') %>
      <a href="http://itunes.apple.com/us/app/twitter/id333903271?mt=8">Twitter iPhone</a>.<br/>
      <%= g.p.getText(lang, 'page.tools.twitteriphone.pc') %> <span class="term">Settings</span><%= g.p.getText(lang, 'page.tools.twitteriphone.pd') %> <span class="term">Services</span><%= g.p.getText(lang, 'page.tools.twitteriphone.pe') %> <span class="term">URL Shortening</span><%= g.p.getText(lang, 'page.tools.twitteriphone.pf') %> <span class="term">Custom</span><%= g.p.getText(lang, 'page.tools.twitteriphone.pg') %> <strong>http://prn.la/x?prn=%@</strong><br/>
    </p>
    <p>
      <img class="bordered" src="/b/images/twitteriphone.jpg" height="200" width="205" alt="Tangkapan layar aplikasi Twitter iPhone"/>
    </p>
    <p>
      <h4 id="chrome"><%= g.p.getText(lang, 'page.tools.chrome.title') %></h4><br/>
      <%= g.p.getText(lang, 'page.tools.chrome.pa') %>
      <a href="https://chrome.google.com/extensions/detail/ipejcgelolaobhcbccckldaapfdjcbjh">Pranachrome</a>.
      <%= g.p.getText(lang, 'page.tools.chrome.pb') %> <span class="brand">Prnla</span>.<br/>
    </p>
    <p>
      <img class="bordered" src="/b/images/<%= lang %>/pranachrome.png" height="202" width="465" alt="Tangkapan layar Pranachrome"/>
    </p>
    <p>
      <h4 id="wordpress"><%= g.p.getText(lang, 'page.tools.wordpress.title') %></h4><br/>
      <%= g.p.getText(lang, 'page.tools.wordpress.pa') %>
      <a href="http://wordpress.org/extend/plugins/wp-prnla/">WP-Prnla</a> <%= g.p.getText(lang, 'page.tools.wordpress.pb') %> <span class="term">Get Shortlink</span>.
    </p>
    <p>
      <img class="bordered" src="/b/images/wp-prnla.png" height="223" width="465" alt="Tangkapan layar WP-Prnla"/>
    </p>
    <p>
      <h4 id="tweetdeck"><%= g.p.getText(lang, 'page.tools.tweetdeck.title') %></h4><br/>
      <%= g.p.getText(lang, 'page.tools.tweetdeck.pa') %> <span class="brand">Prnla</span> <%= g.p.getText(lang, 'page.tools.tweetdeck.pb') %>
      <a href="http://www.tweetdeck.com">TweetDeck</a>.<br/>
      <%= g.p.getText(lang, 'page.tools.tweetdeck.pc') %> <span class="term">Settings</span><%= g.p.getText(lang, 'page.tools.tweetdeck.pd') %> <span class="term">Services</span>
      <%= g.p.getText(lang, 'page.tools.tweetdeck.pe') %> <span class="term">Other</span> <%= g.p.getText(lang, 'page.tools.tweetdeck.pf') %>
      <span class="term">Select the service you wish to use to shorten URLs</span>, <%= g.p.getText(lang, 'page.tools.tweetdeck.pg') %> <strong>http://prn.la/x?prn=%@</strong><br/>
    </p>
    <p>
      <img class="bordered" src="/b/images/tweetdeck.png" height="116" width="465" alt="Tangkapan layar aplikasi TweetDeck"/>
    </p>
    <p>
      <h4 id="mobile"><%= g.p.getText(lang, 'page.tools.mobile.title') %></h4><br/>
      <%= g.p.getText(lang, 'page.tools.mobile.p') %> <a href="http://m.prn.la">m.prn.la</a> .
    </p>
  </div>
</div>