<div class="content pane">
  <div class="text">
    <div class="title">
      <h3><%= g.p.getText(lang, 'nav.usage') %></h3>
    </div>
    <p>
      <%= g.p.getText(lang, 'page.usage.p1a') %> <span class="brand">Prnla</span>
      <%= g.p.getText(lang, 'page.usage.p1b') %>
    </p>
    <p>
      <%= g.p.getText(lang, 'page.usage.p2') %>
    </p>
    <div class="marquee message">
      <%= g.p.getText(lang, 'page.usage.example.partial') %>
    </div>
    <p>
      <%= g.p.getText(lang, 'page.usage.p3') %>
    </p>
    <div class="marquee warning">
      http://beritakita.co.id/terkini/indonesia-akhirnya-juara-piala-dunia-2058
    </div>
    <p>
      <%= g.p.getText(lang, 'page.usage.p4') %>
    </p>
    <div class="marquee answer">
      http://prn.la/g0L
    </div>
    <p>
      <%= g.p.getText(lang, 'page.usage.p5') %>
    </p>
    <div class="marquee message">
      <%= g.p.getText(lang, 'page.usage.example.complete') %>
    </div>
  </div>
</div>