body {
    background-color: #fbfbfb;
    color: #1e1e1f;
}
div#doc {
    color: #333333;
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 12px;
    line-height: 170%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
div#nav {
    padding: 5px;
    text-align: right;
}
div#nav ul, div#nav li {
    display: inline;
    font-size: 105%;
    margin-left: 10px;
}
div#hd {
    padding: 20px 20px 0 20px;
}
div#hd a {
    text-decoration: none;
}
div#hd a:hover {
    text-decoration: underline;
}
div#logo {
    float: left;
    height: 40px;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
    width: 130px;
}
h1 {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
	color: #1e1e1f;
    font-size: 15px;
    font-weight: bold;
    margin: 6px;
    padding-left: 25px;
}
div#slogan {
    float: left;
    height: 40px;
    margin-left: 20px;
    padding: 0 10px 0 10px;
    width: 400px;
}
h2, h3 {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h4 {
    font-size: 11px;
    margin: 0;
    text-transform: uppercase;
}
h5 {
    font-size: 13px;
    margin: 0;
}
div#bd {
    background-color: #ffffff;
    border: 1px #dfdfdf solid;
    padding: 20px 20px 40px 20px;
}
div#bd a {
    color: #484848;
    text-decoration: underline;
}
div.content {
    padding: 20px 20px 40px 20px;
}
div.marquee {
    color: #666666;
    padding: 8px;
}
div.title {
    padding: 0 8px 0 8px;
    text-align: right;
}
input#url {
    border: 1px solid #b3b3b3;
    color: #1e1e1f;
    font-size: 15px;
    height: 20px;
    padding: 5px;
}
input.button {
    background-color: #F0F0F0;
    border: 1px solid #b3b3b3;
    color: #505050;
    margin-left: 1px;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
}
div.text {
    background-color: #ededea;
    color: #7a7a7b;
    display: block;
    font-size: 13px;
    padding: 15px;
}
input#answer {
    background-color: #cafe9c;
    border: 1px solid #cccccc;
    color: #1e1e1f;
    font-size: 15px;
    height: 20px;
    padding: 5px;
}
div.signal {
    border: 1px solid #b3b3b3;
    color: #1e1e1f;
    float: left;
    font-size: 15px;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
}
div.message {
    background-color: #a8e4ff;
}
div.error {
    background-color: #ffa8a8;
}
div.warning {
    background-color: #fff284;
}
div.answer {
    background-color: #cafe9c;
}
div#ft {
    padding: 5px 20px 5px 20px;
    text-align: right;
}
div.pane {
    background-color: #f5f5f1;
}
span.brand {
    color: #1e1e1f;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
span.term {
	font-style: italic;
	font-weight: bold;
}
.bordered {
    border: 1px dotted #aaaaaa;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
a {
    color: #808080;
    text-decoration: none;
}
a:hover {
    color: #484848;
    text-decoration: underline;
}
p {
	margin-bottom: 25px;
}